:root {
    --primary-color: #BF4408;
    --secondary-color: #137BBA;
    --text-color: #1A191B;
    --bg-alternative: #E6E6E6;
    --bg-color: #FBFAF9;
    --link-color: inherit;
    --link-hover: inherit;
    --btn-text-color: #fff;
    --btn-hover-bg: #A83D07;
    --card-border: #000;
}

.dark-mode {
    --primary-color: #F0F0F0;
    --secondary-color: #137BBA;
    --text-color: #ffffff;
    --bg-alternative: #636363;
    --bg-color: #000000;
    --link-color: inherit;
    --link-hover: inherit;
    --btn-text-color: #000;
    --btn-hover-bg: #9b9b9b;
    --card-border: #fff;
}

body {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

.navbar a {
    color: var(--text-color);
}

.navbar a:hover {
    text-decoration: underline;
}

.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-alternative {
    background-color: var(--bg-alternative);
}

.card-img-crop {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.bid-text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.clock-number {
    font-size: 1.2rem;
}

.card {
    min-width: 350px;
    max-width: 420px;
    border-color: var(--card-border);
}

.card-link:hover {
    filter: brightness(90%);
    transition: all 0.5s ease;
}

.btn-custom {
    color: var(--btn-text-color) !important;
    background-color: var(--primary-color) !important;
    padding: 0.5rem 1.5rem !important;
    border-radius: 20px !important;
}

.btn-custom:hover {
    background-color: var(--btn-hover-bg) !important;
}

.dark-mode .dropdown-menu {
    background-color: #333 !important;
    color: #ffffff !important;
}

.dark-mode .dropdown-item {
    color: #ffffff !important;
}

.dark-mode .dropdown-item:hover {
    background-color: #444 !important;
    color: #ffffff !important;
}
