@import url(defaults.css);

.btn-banner {
    color: var(--btn-text-color);
    background-color: var(--primary-color);
    padding: 0.5rem 0;
    border-radius: 20px;
}

.card {
    background-color: var(--card-bg-color);
}

:root {
    --card-bg-color: #ffffff; /* Cor de fundo do card para tema claro */
}

.dark-mode {
    --card-bg-color: #333333; /* Cor de fundo do card para tema escuro */
}

.category-link {
    display: block; /* Faz cada link ocupar uma linha inteira */
    margin-bottom: 10px; /* Adiciona um espaço entre os links, opcional */
  }
