@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary-color: #F0F0F0;
    --secondary-color: #137BBA;
    --text-color: #ffffff;
    --bg-alternative: #636363;
}

body {
    background-color: #000000 !important;
    color: var(--text-color)
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.navbar a {
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

/* Default noto-serif class
.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-bold {
    font-family: "Noto serif", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-alternative {
    background-color: var(--bg-alternative);
}

.card-img-crop {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.bid-text {
    font-size: 2rem;
    font-weight: 700;
}

.clock-number {
    font-size: 1.2rem;
}

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:hover {
    color: inherit;
    -webkit-filter: brightness(90%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-custom {
    color: #000000 !important;
    background-color: var(--primary-color) !important;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem !important;
    border-radius: 20px !important;
}

.btn-custom:hover {
    background-color: #9b9b9b !important;
}