@import url(defaults.css);

.container-gray {
    background-color: #636363;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #333333;
    padding: 20px;
    width: 80%; 
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="datetime-local"],
textarea,
select, .form-select, .form-control, .custom-area {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: black;
    color: white
}


button[type="submit"] {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.btn-primary {
    color: #000000 !important;
    background-color: var(--primary-color) !important;
}

.btn-primary:hover {
        background-color: #9b9b9b !important;

}

.link-info {
    color: #e0e0e0
}