@import url(defaults.css);

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: black;
    color: white
}


button[type="submit"] {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}