<div class="container"></div>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2">Início</a></li>
        <li class="nav-item"><a href="/leiloes" class="nav-link px-2">Leilões</a></li>
        <li class="nav-item"><a href="/seusLeiloes" class="nav-link px-2">Vender</a>
        </li>
        <li class="nav-item"><a href="/login" class="nav-link px-2">Login/Cadastro</a>
        </li>
      </ul>
      <p class="text-center">&copy; Leilão Fácil</p>
    </footer>
</div>