<div class="container"></div>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="index.html" class="nav-link px-2 text-body-secondary">Início</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Leilões</a></li>
        <li class="nav-item"><a href="criarLeilao.html" class="nav-link px-2 text-body-secondary">Vender</a>
        </li>
        <li class="nav-item"><a href="login.html" class="nav-link px-2 text-body-secondary">Login/Cadastro</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">&copy; Leilão Fácil</p>
    </footer>
</div>