<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <title>Leilões</title>
</head>

<body class="poppins-regular">
    <%- include('partials/header.ejs') %>

    <div class="bg-alternative py-5">
        <div class="container-fluid px-5">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-12 col-md-2">
                    <p><strong>Categorias</strong></p>
                    <a href="#">Uma categoria <br>Duas categorias <br>Tres categorias</a>
                </div>

                <!-- Grid -->
                <div class="col-12 col-md-10">
                    <!-- Container sets a standard maximum width -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-4 mb-4">
                                <a href="produto.html" class="card-link">
                                    <div class="card p-2">
                                        <img src="images/placeholder.jpg" class="card-img-crop" alt="Card Image 1">
                                        <div class="container border py-2 my-3 px-2">
                                            <div class="row">
                                                <div class="col-6 text-center border-end">
                                                    Lance:
                                                    <div class="bid-text">
                                                        $10
                                                    </div>
                                                </div>
                                                <div class="container col-6 text-center">
                                                    Finaliza em:
                                                    <div class="row">
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            D
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            H
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            M
                                                        </div>
                                                        <div class="col-3 g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            S
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong>Nome da listagem</strong>
                                        <p class="card-text">Localização<br>Outra info</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 mb-4">
                                <a href="produto.html" class="card-link">
                                    <div class="card p-2">
                                        <img src="images/placeholder.jpg" class="card-img-crop" alt="Card Image 1">
                                        <div class="container border py-2 my-3 px-2">
                                            <div class="row">
                                                <div class="col-6 text-center border-end">
                                                    Lance:
                                                    <div class="bid-text">
                                                        $10
                                                    </div>
                                                </div>
                                                <div class="container col-6 text-center">
                                                    Finaliza em:
                                                    <div class="row">
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            D
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            H
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            M
                                                        </div>
                                                        <div class="col-3 g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            S
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong>Nome da listagem</strong>
                                        <p class="card-text">Localização<br>Outra info</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 mb-4">
                                <a href="produto.html" class="card-link">
                                    <div class="card p-2">
                                        <img src="images/placeholder.jpg" class="card-img-crop" alt="Card Image 1">
                                        <div class="container border py-2 my-3 px-2">
                                            <div class="row">
                                                <div class="col-6 text-center border-end">
                                                    Lance:
                                                    <div class="bid-text">
                                                        $10
                                                    </div>
                                                </div>
                                                <div class="container col-6 text-center">
                                                    Finaliza em:
                                                    <div class="row">
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            D
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            H
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            M
                                                        </div>
                                                        <div class="col-3 g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            S
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong>Nome da listagem</strong>
                                        <p class="card-text">Localização<br>Outra info</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 mb-4">
                                <a href="produto.html" class="card-link">
                                    <div class="card p-2">
                                        <img src="images/placeholder.jpg" class="card-img-crop" alt="Card Image 1">
                                        <div class="container border py-2 my-3 px-2">
                                            <div class="row">
                                                <div class="col-6 text-center border-end">
                                                    Lance:
                                                    <div class="bid-text">
                                                        $10
                                                    </div>
                                                </div>
                                                <div class="container col-6 text-center">
                                                    Finaliza em:
                                                    <div class="row">
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            D
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            H
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            M
                                                        </div>
                                                        <div class="col-3 g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            S
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong>Nome da listagem</strong>
                                        <p class="card-text">Localização<br>Outra info</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 mb-4">
                                <a href="produto.html" class="card-link">
                                    <div class="card p-2">
                                        <img src="images/placeholder.jpg" class="card-img-crop" alt="Card Image 1">
                                        <div class="container border py-2 my-3 px-2">
                                            <div class="row">
                                                <div class="col-6 text-center border-end">
                                                    Lance:
                                                    <div class="bid-text">
                                                        $10
                                                    </div>
                                                </div>
                                                <div class="container col-6 text-center">
                                                    Finaliza em:
                                                    <div class="row">
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            D
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            H
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            M
                                                        </div>
                                                        <div class="col-3 g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            S
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong>Nome da listagem</strong>
                                        <p class="card-text">Localização<br>Outra info</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-4 mb-4">
                                <a href="produto.html" class="card-link">
                                    <div class="card p-2">
                                        <img src="images/placeholder.jpg" class="card-img-crop" alt="Card Image 1">
                                        <div class="container border py-2 my-3 px-2">
                                            <div class="row">
                                                <div class="col-6 text-center border-end">
                                                    Lance:
                                                    <div class="bid-text">
                                                        $10
                                                    </div>
                                                </div>
                                                <div class="container col-6 text-center">
                                                    Finaliza em:
                                                    <div class="row">
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            D
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            H
                                                        </div>
                                                        <div class="col-3 border-end g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            M
                                                        </div>
                                                        <div class="col-3 g-0">
                                                            <strong class="clock-number">00</strong><br>
                                                            S
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <strong>Nome da listagem</strong>
                                        <p class="card-text">Localização<br>Outra info</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>