<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <title>Login</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <section class="vh-100">
        <div class="container-fluid h-100">
            <div class="row h-100 d-flex align-items-center">
                <div class="col-md-7 text-black d-flex justify-content-center align-items-center">
                    <div style="width: 30rem;">
                        <div class="px-5 ms-xl-4">
                            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                        </div>

                        <div class="px-5 ms-xl-4">
                            <h3 class="fw-normal mb-3 pb-3 text-dark" style="letter-spacing: 1px;">Entre na sua conta</h3>

                            <form action="/login" method="POST">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="user-email">Digite seu Email</label>
                                    <input name="email" type="email" id="user-email" class="form-control form-control-lg">
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="password-user">Digite sua senha</label>
                                    <input type="password" id="password-user" class="form-control form-control-lg" name="password">
                                </div>

                                <div class="pt-2 mb-4">
                                    <button class="btn btn-info btn-lg btn-block btn-primary"
                                        type="submit">Entrar</button>
                                </div>

                                <p class="text-dark">Não possui uma conta? <a class="text-primary" href="/register" class="link-info">Se cadastre aqui!</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Seção de Imagem -->
                <div class="col-md-4 d-none d-md-flex justify-content-left align-items-left">
                    <img src="images/undraw_undraw_undraw_undraw_undraw_undraw_shopping_bags_2ude_-1-_mnw3_-2-_q7y0_muk6_-2-_l1mh_-2-_m4xj.svg"
                        alt="Login image" class="img-fluid" style="max-width: 80%; height: auto;">
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs') %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>