@import url(defaults.css);

.container-gray {
    background-color: #dddddd;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-gray a:hover {
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="datetime-local"],
textarea,
select {
    width: 80%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.link-info {
    color: #BF4408 !important
}

.link-info:hover {
    color: #A83D07 !important
}