@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary-color: #BF4408;
    --secondary-color: #137BBA;
    --text-color: #1A191B;
}

.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-banner {
    color: #fff;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.container-gray {
    background-color: #dddddd;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    width: 80%; 
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="datetime-local"],
textarea,
select {
    width: 80%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.btn-primary {
    background-color: #e63946;
    border-color: #e63946;
}

.link-info {
    color: #e63946
}